<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Vue</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div id="app" class="container my-5">

      <div v-if="user.username == null" class="card">
          <div class="card-body">
              <h5 class="card-title">Formulario de registro / login</h5>
              <input v-model="username" type="email" class="form-control m-2" placeholder="Email" >
              <input v-model="password" type="password" class="form-control m-2" placeholder="Password" >
              <button @click="registrar()" class="btn btn-primary btn-sm m-2">Registrar</button>
              <button @click="login()" class="btn btn-primary btn-sm m-2">Ingresar</button>
          </div>
      </div>

      <div v-if="user.username != null" class="row">
          <div class="col-md-12 text-center">
              <h3>Conectado como: <b>{{ user.nombres }}</b></h3>
          </div>
          <div class="col-md-4 border-right">
              <!-- listado de usuarios  -->
              <ul class="list-group">
                  <li v-for="item in usuarios" @click="seleccionarContacto(item)" class="list-group-item d-flex gap-2">
                      <img :src="'https://ui-avatars.com/api/?name=' + item.nombres + '&background=ffc107&color=fff'"
                          class="img-fluid rounded-3" alt="Img" width="40px">
                      <span class="text-left">{{ item.nombres }} <br>
                          <small class="text-xs">@{{ item.username }}</small>
                      </span>
                      <span>
                          &nbsp;
                      </span>
                  </li>
              </ul>
          </div>
          <div class="col-md-8">
              <!-- los chats  -->
              <div class="card">
                  <div class="card-body">
                      <h5 class="card-title text-center">Chat - {{ contacto.nombres }}</h5>

                      <div v-for="item in mensajes" class="row justify-content-center">
                          <div v-if="item.emisor_id != user.id" class="col-md-8">
                              <div class="alert alert-primary" role="alert">
                                  {{item.mensaje}}
                              </div>
                          </div>
                          <div v-else class="col-md-8 text-end">
                              <div class="alert alert-success" role="alert">
                                  {{item.mensaje}}
                              </div>
                          </div>
                      </div>

                      <textarea v-model="mensaje" class="form-control" placeholder="Mensaje..."></textarea>
                      <div class="text-center mt-3">
                          <button @click="enviar()" class="btn btn-primary btn-sm">Enviar</button>
                      </div>

                  </div>
              </div>
          </div>
      </div>
  </div>


    <!-- Bootstrap JavaScript Libraries -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/@supabase/supabase-js@2"></script>
    <script>
      const { createApp, ref } = Vue;
      const { createClient } = supabase;

      createApp({
        setup() {
          const supabase = createClient(
            "https://vmjkvqgvtjauoibbcexr.supabase.co",
            "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZtamt2cWd2dGphdW9pYmJjZXhyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MjU5ODE3OTAsImV4cCI6MjA0MTU1Nzc5MH0.WL8TLQGqxCLGZLSP4mYRpdC_VGoyO8Z02EXo2Rxn02M"
          );
          // para manejo del formulario y listado
          let mostrar = ref("form");
          // manejo de inputs del formulario
          let username = ref("");
          let password = ref("");
          // guardado de la respuesta data.user
          const user = ref({});
          // para guardado de usuarios
          const usuarios = ref([]);
          // para guardado de contactos
          const contacto = ref({});
          // manejo de textarea
          let mensaje = ref("");
          // para guardado de mensajes
          const mensajes = ref([]);

          // registrar un usuario
          const registrar = async () => {
            const { data, error } = await supabase.auth.signUp({
              email: username.value,
              password: password.value,
            });
            //console.log(data);

            if (error) {
              console.log(error);
            } else {
              user.value = data.user;

              const { error } = await supabase
                        .from('users')
                        .insert({
                            nombres: "Francisco Villarroel",
                            username: "frajavi8776",
                            email: username.value,
                            auth_id: user.value.id
                        })

              //console.log(error);


              user.value.nombres="Francisco Villarroel"
              user.value.username = "franjavi8776"

              localStorage.setItem("user", JSON.stringify(user.value));
              //console.log(data.user);

              listarUsuarios()
            }
          };

          const login = async() => {
            const { data, error } = await supabase.auth.signInWithPassword({
                email: username.value,
                password: password.value,
                })

                if(error){
                    console.log(error);

                }else {
                    user.value = data.user;

                    const {data:response,error} = await supabase
                                .from('users')
                                .select()
                                .eq("auth_id", user.value.id)




                     if (error) {
                        console.log(error);

                     } else {
                        //console.log(response[0]);

                        user.value.nombres = response[0].nombres
                        user.value.username = response[0].username
                        localStorage.setItem("user", JSON.stringify(user.value))
                     }

                }
                listarUsuarios()
                //listarMensajes()

          }

          const listarUsuarios = async() => {
            const {data, error} = await supabase
                                      .from("users")
                                      .select()
            if(error) {
              console.log(error);

            }else{
              //console.log(data);
              usuarios.value = data

            }
          }

          const seleccionarContacto = async (usuario) => {
            contacto.value = usuario

           cargarMensajes();

           setInterval(()=>{
               cargarMensajes()
           },3000)
          }

          const cargarMensajes = async() => {
             const {data, error} = await supabase
                                   .from("mensajes")
                                   .select()
                                   .or(`and(emisor_id.eq.${user.value.id},receptor_id.eq.${receptor.value.auth_id}),and(emisor_id.eq.${receptor.value.auth_id},receptor_id.eq.${user.value.id})`)
                                   .order("id",{ascending: false})
                                   .limit(10)

              if(error){
                console.log(error);

              } else {
                mensajes.value =data.reverse();
              }
          }

          const enviar = async() => {
            if(contacto.value.auth_id === null || contacto.value.auth_id === "" || mensaje.value === ""){
              alert("Por favor complete los campos vacios")
              return;
            }

            const { error } = await supabase
                        .from('mensajes')
                        .insert({
                            mensaje: mensaje.value,
                            receptor_id: contacto.value.auth_id,
                            emisor_id: user.value.id,

                        })

              console.log(error)
              mensaje.value = "";
          };

          return {
            mostrar,
            usuarios,
            contacto,
            mensaje,
            mensajes,
            enviar,
            registrar,
            login,
            seleccionarContacto,
            username,
            password,
            user,
          };
        },
      }).mount("#app");
    </script>
  </body>
</html>
